<lib-container>
    <lib-title title="Adicionar Gasto" theme="dark"></lib-title>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <lib-input 
            formControlName="description" 
            label="Descrição do Gasto"
            placeholder="Ex: Almoço com a família"></lib-input>
        <lib-select 
            formControlName="idCategoria" 
            label="Categoria"
            [options]="listCategory"></lib-select>
        <lib-input 
            formControlName="date" 
            label="Data" 
            placeholder="02/05/2022"
            maskConfig="00/00/0000"></lib-input>
        <lib-input 
            formControlName="value" 
            label="Valor"
            maskConfig="separator.2" [isCurrency]="true"></lib-input>
        <button type="submit" lib-button class="mt-16">Cadastrar</button>
    </form>
</lib-container>
