@import 'scss/utils';

.category {
    background-color: var(--color-primary);
    height: 100%;

    @include media-md {
        position: relative;
    }
    
    &__nav {
        margin-top: 72px;
    }
}