@import 'scss/utils';

.category {
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: var(--color-primary);
    z-index: 1;

    @include media-md {
        position: relative;
    }
    
    &__nav {
        margin-top: 72px;
    }
}