<aside class="category">
    <div class="container">
        <header class="category__header">
            <lib-title title="Minhas Categorias" role="text"></lib-title>
            <a [routerLink]="['categoria/adicionar']" class="category__header__button">
               <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                   <defs>
                       <style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style>
                    </defs>
                    <g id="plus"><line class="cls-1" x1="16" x2="16" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="16" y2="16"/></g>
                </svg>
            </a>
        </header>
       
        <nav class="category__nav">
            <ng-container *ngIf="category?.length; else emptyCategory">
                <lib-list-category [category]="category" (onDelete)="handleDelete($event)"></lib-list-category>
            </ng-container>
        </nav>
    </div>
</aside>

<ng-template #emptyCategory>
    <span class="category__title--empty">Não existe categoria cadastrada</span>
</ng-template>
