@import 'scss/utils';

.box {
    @include media-md {
        display: flex;
    }

    &__category {
        display: none;
        @include media-md {
            width: 30%;
            display: block;
        }

        &.is-active {
            display: block;
        }
    }

    &__main {
        @include media-md {
            width: 70%;
        }
    }
}