@import 'scss/utils';

.box {
    @include media-md {
        display: flex;
    }

    &__category {
        display: none;
        position: fixed;
        height: 100vh;
        left: 0;
        right: 0;
        z-index: 1;

        @include media-md {
            width: 30%;
            display: block;
        }

        &.is-active {
            display: block;
        }
    }

    &__main {
        @include media-md {
            width: 70%;
            margin-left: auto;
        }
    }
}