<section class="box container">
    <header class="box__header">
        <lib-title title="Meus Gastos" theme="dark"></lib-title>
    </header>

    <div class="box__content">
        <ul class="expense">
            <li class="expense__item">
                <h3 class="expense__title">Passagem de Avião para o Guarujá</h3>
                <p>Viagem - 02/05/1989</p>
                <p>R$ 59,00</p>
            </li>
            <li class="expense__item">
                <h3 class="expense__title">Passagem de Avião para o Guarujá</h3>
                <p>Viagem - 02/05/1989</p>
                <p>R$ 59,00</p>
            </li>
            <li class="expense__item">
                <h3 class="expense__title">Passagem de Avião para o Guarujá</h3>
                <p>Viagem - 02/05/1989</p>
                <p>R$ 59,00</p>
            </li>
            <li class="expense__item">
                <h3 class="expense__title">Passagem de Avião para o Guarujá</h3>
                <p>Viagem - 02/05/1989</p>
                <p>R$ 59,00</p>
            </li>
        </ul>
    </div>
</section>
