* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #00c65c;
    --primary-light: #e0f8eb;
    --primary-dark: #005f61;
    --secondary: #ac521a;
    --gray: #999;
    --gray-light: #eee;
}


html, body { height: 100%; font-size: 16px;}